body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    margin: 20px;
    text-align:center;
    background-color: crimson;
}
div{
text-align: center;
background-color: dodgerblue;
border-color:solid;
}#hsa{
background-color: cyan;
text-align: center;

}
div.relative {
position: relative;
width: 400px;
height: 200px;
border: 3px solid #73AD21;
} 

div.absolute {
position: absolute;
top: 80px;
right: 0;
width: 200px;
height: 100px;
border: 3px solid #73AD21;
background-color:wheat;
}#attack{
position:relative;
border: 3px solid white;
background-color: forestgreen;
}#crap{
background-image: url('web background.png');
border: 2px solid #9aff0b;
text-align: center;
position:static;
text-decoration: antiquewhite;
}bruh{
    text-align: left;
}